@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Dosis:wght@400;500;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    font-size: 1.6rem;
    max-width: 2000rem;
    margin: auto;
    font-family: 'Dongle', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Nunito', sans-serif;
  }
  
  .container {
    max-width: 1000rem;
    padding: 2rem;
  }
  
h1 {
    margin: 5rem 0 1rem 0;
}

section {
    padding: 2rem;
    border: solid 0.5rem var(--turquoise-dominant);
    border-radius: 2rem;
    max-width: 70rem}

  .section-component {
    margin: 5rem 0;
  }
  
  .section-header {
    margin: 3rem 0;
  }

:root { 
  --white: white;

  --blue-dominant: #031A4D;
  --blue-mild: #354F87;
  --blue-light: #9AAED9;
  --blue-dim: #D8DFED;

  --gray-dominant: #343a40;
  --gray-mild: #6c757d;
  --gray-light: #adb5bd;
  --gray-lighter: #ced4da;

  --green-dominant: #55a630;
  --green-mild: #d4d700;
  --green-light: #dddf00;
  --green-lighter: #AAF53B;

  --orange-dominant: #F0590E;
  --orange-mild: #ff9500;
  --orange-light: #ffb700;
  --orange-lighter: #ffb600;

  --red-dominant: #d30000;
  --red-mild: #FA483E;
  --red-light: #fab2b2;
  --red-lighter: #ec5766;

  --turquoise-dominant: #00b4d8;
  --turquoise-mild: #56cfe1;
  --turquoise-light: #64dfdf;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  object-fit: cover;
}